
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #999;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

#location-list li h3 {
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

#location-list li p {
    font-size: 14px;
    margin: 0;
    line-height: 16px;
}

#location-list li a {
    padding: 15px 15px;
    display: block;
    margin-bottom: 5px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */

}

li .th {
    width: 120px;
    height: 90px;
}

.location-list-item img {
    width: 90px;
    height: 75px;
    float: left;
    margin-right: 10px;
}

.th.th-small {
    width: 100px;
    height: 80px;
    margin-right: 10px;
}

#map {
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
}

a {
    color: #C42121;
}

a:hover {
    color: #961515;
}

.tab-bar {
    background: #C42121;
}

.left-small {
    border-right: 1px solid #961515;
}

.off-canvas-wrap,
.inner-wrap{
    height: 100%;
    position: relative;
}

.main-section{
    left:0;
    top:45px;
    right:0;
    bottom:0;
    position: absolute;
}

img
{
    max-width: none;
}

#full-map{
    width:100%;
    height:100%;
}


#camsource{
    width:100%;
    height:100%;
}

.main-section > .row:first-child{
    margin-top: 15px;
}